################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnigmaMachineSLN/.vs
/EnigmaMachineSLN/EnigmaMachinePrj/bin
/EnigmaMachineSLN/EnigmaMachinePrj/obj
